body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("components/download.svg");
  background-repeat: no-repeat;
  background-position-y: -250px;
  margin-bottom: 0;
  padding-top: 0;
  background-size: cover;
  background-size: 1000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Title */
h1{
  color: aliceblue;
  margin:70px 0 0 150px;
  font-size: 70px;
  /* font-family:"Poppins",sans-serif; */
  font-family:Bahnschrift Light;
  letter-spacing:5px
}

/* Slogan */
.slogan{
  font-size: 50px;
  font-family:Bahnschrift Light;
  position:absolute;
  right:120px;
  top:75px;
}

/* Users Display Survey */
#surveys-div{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin: 0 400px;
  margin-top: 220px
}

.one-survey{
  width:200px;
  height:100px;
  text-align:center;
  background:linear-gradient(165deg, rgba(0,0,0,0.7) 0%, transparent 100%);
  background-color:#079ae3;
  padding-top:45px;
  border-radius:5px;
  border-left:8px solid #b3d3e4;
  margin-top:30px;
}
.one-survey span {
  font-size:30px;
  margin-top:60px;
  color:white;
  text-decoration:none;
}

a:link, a:visited{
  text-decoration:none;
}

/* Fill Survey */
.title{
  color:white;
  margin-bottom:20px;
  font-size:2em;
  font-family:Bahnschrift Light;
  letter-spacing:1px;
}
.fill_survey{
  margin:20px auto 75px;
  width:600px;
  text-align:center;
  padding:30px 35px 90px;
  border: none;
  border-radius:2px;
  background:linear-gradient(165deg, rgba(0,0,0,0.6) 0%, transparent 100%);
  background-color:#09acfd;
  box-shadow: 12px 8px #b3d3e4;
}
.box{
  width:410px;
  margin:0 auto;
}
.txtbox{
  width:400px;
  height:40px;
  margin-bottom:30px;
  background-color: rgba(0,0,0,0.4);
  border-radius:3px;
  border:none;
  color:white;
  font-size:1.2em;
}
.input-label{
  color:#d5d2d2;
  font-size:1.3em;
  float:left;
  margin-left:4px;
  margin-bottom:5px
}

.submit{
  width:100px;
  height:40px;
  background-color:transparent;
  color:white;
  font-size:1.1em;
  border:2px solid rgba(0,0,0,0.4);
  border-radius:3px;
  float:left;
}

#sign-in{
  margin-top:120px;
}

/* Add Survey */
#add-survey{
  margin: 0 400px;
  margin-top:40px;
}
.lbl{
  font-size:1.5em;
}
.txt{
  width:400px;
  height:40px;
  margin-top:15px;
  margin-bottom:30px;
  border-radius:3px;
  font-size:1.2em;
}
#plus{
  width:60px;
  height:45px;
  text-align:center;
  background:linear-gradient(165deg, rgba(0,0,0,0.5) 0%, transparent 100%);
  background-color:#079ae3;
  border-radius:5px;
  border-left:8px solid #b3d3e4;
  border-top:none;
  border-right:none;
  border-bottom:none;
}

#plus span {
  font-size:40px;
  color:white;
  text-decoration:none;
}

/* Create Survey */
#create{
  width:410px;
  margin:0 auto;
}

.create-btn{
  width:150px;
  height:40px;
  background:linear-gradient(165deg, rgba(0,0,0,0.5) 0%, transparent 100%);
  background-color:#079ae3;
  border-radius:3px;
  color:white;
  font-size:0.97em;
}
select{
  border:2px solid black;
}